---
http_interactions:
- request:
    method: post
    uri: http://auth.go.intami.pl/accounts
    body:
      encoding: UTF-8
      string: '{"firstName":"foo","lastName":"bar","emails":[{"email":"foo@bar.baz"}]}'
    headers:
      Content-Type:
      - application/json
      App-Key:
      - some.fake.key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"2fdcbef6-e452-42ad-b254-f46fa28f14b4","emails":[{"email":"foo@bar.baz","primary":false}],"status":"CONFIRMED","firstName":"foo","lastName":"bar"}'
  recorded_at: Sun, 30 Oct 2016 21:01:17 GMT
recorded_with: VCR 3.0.3
