---
http_interactions:
- request:
    method: post
    uri: http://auth.go.intami.pl/accounts
    body:
      encoding: UTF-8
      string: '{"firstName":"foo","lastName":"bar","emails":[{"email":"foo@bar.baz"}]}'
    headers:
      Content-Type:
      - application/json
      App-Key:
      - some.fake.key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"488d4dd0-929a-4456-acdb-89054377d167","emails":[{"email":"foo@bar.baz","primary":false}],"status":"CONFIRMED","skipWelcomeEmail":false,"firstName":"foo","lastName":"bar"}'
  recorded_at: Sun, 20 Nov 2016 17:44:52 GMT
recorded_with: VCR 3.0.3
