---
http_interactions:
- request:
    method: post
    uri: https://goauth.intami.pl/batch-update
    body:
      encoding: UTF-8
      string: '[{"method":"POST","url":"/accounts","body":{"firstName":"foo1","lastName":"bar1","emails":[{"email":"xboo1@bar.baz"}]}},{"method":"POST","url":"/accounts","body":{"firstName":"foo2","lastName":"bar2","emails":[{"email":"xboo1@bar.baz"}]}}]'
    headers:
      Content-Type:
      - application/json
      App-Key:
      - eyJhbGciOiJIUzI1NiJ9.eyJhcHAiOiI3OTFiYjNiYy1iNTY1LTQxNDgtYjJhNC02MmY2MzU2ZmQ5YTgiLCJ0eXAiOiJBUFBfS0VZIiwiaWF0IjoxNDc3NDIwNzQ5LCJpc3MiOiJHb0F1dGgifQ.CxEMRe3dge3mYN8WLyPJPNqc3tDdK7Ci0dMnsVJD8NU
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"status":"SUCCESS","httpCode":201,"body":"{\"id\":\"501975ea-0751-4b10-8762-ce2f7307507c\",\"emails\":[{\"email\":\"xboo1@bar.baz\",\"primary\":false}],\"status\":\"CONFIRMED\",\"skipWelcomeEmail\":false,\"firstName\":\"foo1\",\"lastName\":\"bar1\"}"},{"status":"FAIL","httpCode":400,"body":"{\"errors\":[{\"type\":\"VALIDATION\",\"key\":\"account.exists.email\",\"message\":\"@account.exists.email@\"}],\"status\":\"ERROR\"}"}]'
  recorded_at: Fri, 05 Jul 2019 11:48:27 GMT
recorded_with: VCR 5.0.0
